<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		Pagine: <a th:each="i:${#numbers.sequence(0, totalPages-1)}"
			th:href="@{?pageNumber={n}(n=${i})}"> <span th:text="${i+1}"></span>
			|
		</a>
	</div>
	<div class="container">
		<div class="btn btn-primary">
			<a href="/homepage.html">HomePage</a>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Nome Cliente</th>
					<th>Partita iva</th>
					<th>tipo cliente</th>
					<th>email</th>
					<th>pec</th>
					<th>telefono</th>
					<th>nome contatto dell azienda</th>
					<th>cognome contatto</th>
					<th>telefono Contatto</th>
					<th>email del contatto</th>
					<th>data inserimento del contatto</th>
					<th>data ultimo contatto</th>
					<th>fatturato annuale</th>
					<th>Via sede legale</th>
					<th>Civico sede legale</th>
					<th>CAP sede legale</th>
					<th>Localita sede legale</th>
					<th>Comune sede legale</th>
					<th>Provincia sede legale</th>
					<th>Sigla della provincia</th>
					<th>Via sede operativa</th>
					<th>Civico sede operativa</th>
					<th>CAP sede operativa</th>
					<th>Localita sede operativa</th>
					<th>Comune sede operativa</th>
					<th>Provincia sede operativa</th>
					<th>Sigla della provincia</th>
					<th>
				</tr>
			<tbody>
				<tr th:each="cliente:${list}">
					<td th:text="${cliente.ragioneSociale}">
					<td th:text="${cliente.partitaIva}">
					<td th:text="${cliente.tipoCliente}">
					<td th:text="${cliente.email}">
					<td th:text="${cliente.pec}">
					<td th:text="${cliente.telefono}">
					<td th:text="${cliente.nomeContatto}">
					<td th:text="${cliente.cognomeContatto}">
					<td th:text="${cliente.telefonoContatto}">
					<td th:text="${cliente.emailContatto}">
					<td th:text="${cliente.dataInserimento}">
					<td th:text="${cliente.dataUltimoContatto}">
					<td th:text="${cliente.fatturatoAnnuale}">
					<td th:text="${cliente.indirizzosedelegale.via}">
					<td th:text="${cliente.indirizzosedelegale.civico}">
					<td th:text="${cliente.indirizzosedelegale.cap}">
					<td th:text="${cliente.indirizzosedelegale.localita}">
					<td th:text="${cliente.indirizzosedelegale.comune.nome}">
					<td th:text="${cliente.indirizzosedelegale.comune.provincia.nome}">
					<td th:text="${cliente.indirizzosedelegale.comune.provincia.sigla}">
					<td th:text="${cliente.indirizzosedeoperativa.via}">
					<td th:text="${cliente.indirizzosedeoperativa.civico}">
					<td th:text="${cliente.indirizzosedeoperativa.cap}">
					<td th:text="${cliente.indirizzosedeoperativa.localita}">
					<td th:text="${cliente.indirizzosedeoperativa.comune.nome}">
					<td th:text="${cliente.indirizzosedeoperativa.comune.provincia.nome}">
					<td th:text="${cliente.indirizzosedeoperativa.comune.provincia.sigla}">
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>